{% extends 'ThemeBundle:Default:layout_anonimous.html.twig' %}

{% block content_title %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>

        $(document).ready(function () {
            $('.main-footer').hide();
            //altura = $(".content-wrapper").height() - 100;
            altura = 450;
            cambiemos = {{ votos.cambiemos |default(1)}};
            fpv = {{ votos.fpv |default(1) }};

            total = cambiemos + fpv;


            $('#div-grafico').height(altura);
            $('#div-cambiemos').height(altura);
            $('#div-fpv').height(altura);

//            porcentajeCambiemos = altura - ((cambiemos * altura) / total );
//            porcentajeFpv = altura - ((fpv * altura) / total );

            porcentajeCambiemos = 100 - ((cambiemos * 100) / total );
            porcentajeFpv = 100 - ((fpv * 100) / total );

            if (porcentajeCambiemos < 15) {
                porcentajeCambiemos = 15;
            }
            if (porcentajeFpv < 14) {
                porcentajeFpv = 14;
            }

            if (porcentajeCambiemos > 43) {
                porcentajeCambiemos = 43;
            }
            if (porcentajeFpv > 41) {
                porcentajeFpv = 41;
            }

//            $('#div-cambiemos').css('padding-top', porcentajeCambiemos);
//            $('#div-fpv').css('padding-top', porcentajeFpv);
//
//            $('#div-cambiemos').css('top', porcentajeCambiemos + '%');
//            $('#div-fpv').css('top', porcentajeFpv + '%');

            macriFeliz = "{{ asset('bundles/app/img/cuerpo macri feliz.png') }}";
            macriTriste = "{{ asset('bundles/app/img/cuerpo macri triste.png') }}";
            scioliTriste = "{{ asset('bundles/app/img/CUERPO SCIOLI TRISTE.png') }}";
            scioliTFeliz = "{{ asset('bundles/app/img/CUERPO SCIOLI FELIZ.png') }}";

            $('#div-cambiemos .img-responsive').attr('src', macriFeliz);
            $('#div-fpv .img-responsive').attr('src', scioliTFeliz);

//            $('#div-cambiemos').animate({top: 50 + '%'}, 1500);
//            $('#div-fpv').animate({top: 50 + '%'}, 1500);

            $('#div-cambiemos').animate({top: porcentajeCambiemos + '%'}, 2000);
            $('#div-fpv').animate({top: porcentajeFpv + '%'}, 2000);


            setTimeout(function () {


                if (cambiemos > fpv) {
                    $('#div-cambiemos .img-responsive').attr('src', macriFeliz);
                    $('#div-cambiemos').css('z-index', '5');
                    //$('#div-fpv img').attr('src', scioliTriste);
                    $('#div-fpv .img-responsive').fadeOut('slow', function () {
                        $('#div-fpv .img-responsive').attr('src', scioliTriste);
                        $('#div-fpv .img-responsive').fadeIn('slow');
                    });
                    $('#div-fpv').css('z-index', '1');
                } else if (cambiemos < fpv) {
                    //$('#div-cambiemos img').attr('src', macriTriste);
                    $('#div-cambiemos .img-responsive').fadeOut('slow', function () {
                        $('#div-cambiemos .img-responsive').attr('src', macriTriste);
                        $('#div-cambiemos .img-responsive').fadeIn('slow');
                    });
                    $('#div-cambiemos').css('z-index', '1');
                    $('#div-fpv .img-responsive').attr('src', scioliTFeliz);
                    $('#div-fpv').css('z-index', '5');
                }

//                if (cambiemos == fpv) {
//                    $('#div-cambiemos .img-responsive').attr('src', macriTriste);
//                    $('#div-fpv .img-responsive').attr('src', scioliTriste);
//                }

                $("#porcentaje-fpv").show('slow');
                $("#porcentaje-fpv").html('' + ( ((fpv * 100) / total )).toFixed(2) + ' %');
                $("#porcentaje-cambiemos").html('' + (((cambiemos * 100) / total )).toFixed(2) + ' %');
                $("#porcentaje-cambiemos").show('slow');
            }, 2500);


        });
    </script>
{% endblock %}

{% block content -%}
    <style>
        {#.content-wrapper{#}
        {#background: url('{{ asset('bundles/app/img/BANDERA FONDO.jpg') }}') no-repeat;#}
        {#}#}
        .row {
            background: url('{{ asset('bundles/app/img/BANDERA FONDO.jpg') }}') no-repeat center;
            /*background-size: cover;*/
            background-size: 80% 500px;
            width: 100%;
            /*height: 100%;*/
            overflow: hidden;
            height: 500px;

        }
        .logo-pim{
            height: 3%;
        }

        .logo-pim img{
            margin-left: 40%;
            padding-top: 2%;
            width: 15%;
        }
    </style>
    {#<div class="row"#}
    {#style="background: url('{{ asset('bundles/app/img/BANDERA FONDO.jpg') }}')  no-repeat center center ;#}
    {#-webkit-background-size: cover;#}
    {#background-size: cover;">#}
    <div class="row">
        <div class="logo-pim">
            <img class="img-responsive" src="{{ asset('bundles/app/img/LOGO PIM.png') }}">
        </div>
        <div id="div-grafico">
            <div class="col-md-2 col-md-offset-1"
                 style="margin-right: -4%; text-align: right; font-size: 35px; position: relative; top:80%; left: 18%; z-index: 1000000;">
                <span id="porcentaje-fpv" class="label label-primary">FpV</span><br>
                <img src="{{ asset('bundles/app/img/fpv_logo.jpg') }}" style="max-height: 45px;">

            </div>
            <div class="col-md-4 text-center" style="margin-right: -90px; top:100%" id="div-fpv">


                <img style="position: absolute; width: 90%" class="img-responsive">
            </div>

            <div class="col-md-4  text-center" style="margin-left: 0px;top:100%;  " id="div-cambiemos">

                <img style="position: absolute; width: 90%" class="img-responsive">

            </div>

            <div class="col-md-2"
                 style=" font-size: 35px; position: relative; top:60%;top:80%; left: -26%; z-index: 1000000; ">
                <span id="porcentaje-cambiemos" class="label label-warning"
                      style="margin-left: 20%;">Cambiemos</span><br>
                <img src="{{ asset('bundles/app/img/cambiemos_logo.png') }}"
                     style="max-height: 45px; background-color: white;">

            </div>


        </div>


    </div>

{% endblock %}
