<ul class="sidebar-menu">
    <li class="header">MENU PRINCIPAL</li>
    <li class="active treeview">
        <a href="#">
            <i class="fa fa-bar-chart-o"></i> <span>Balotaje</span> <i
                    class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
            <li class="active"><a href="{{ path('mesas') }}"><i class="fa fa-circle-o"></i> Mesas</a></li>
        </ul>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-map-o"></i> <span>Ubicacion</span> <i
                    class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
            <li class="active"><a href="{{ path('pais') }}"><i class="fa fa-circle-o"></i> Pais</a></li>
            <li><a href="{{ path('provincia') }}"><i class="fa fa-circle-o"></i> Provincia</a></li>
            <li><a href="{{ path('departamento') }}"><i class="fa fa-circle-o"></i> Departamento</a></li>
            <li><a href="{{ path('localidad') }}"><i class="fa fa-circle-o"></i> Localidad</a></li>
        </ul>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-user"></i> <span>Usuarios</span> <i
                    class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
            <li class="active"><a href="#"><i class="fa fa-circle-o"></i> Listado</a></li>
            {#<li><a href="{{ path('fos_user_group_list') }}"><i class="fa fa-circle-o"></i> Grupos</a></li>#}

        </ul>
    </li>

</ul>
{#{{ knp_menu_render('AppBundle:Builder:mainMenu', {'currentClass': 'active', 'ancestorClass':'active'}) }}#}