{% block extends %}
{{ "{% extends 'ThemeBundle:Default:layout_base.html.twig' %}" }}
{% endblock extends %}

{{"{% block content_title %}"}}
   {{" Formulario de Alta"}}
{{"{% endblock %}"}}

{% block body %}
{{ "{% block content -%}" }}
<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">{{ entity }}</h3>
            </div>


    {{ '{{ form(form) }}' }}

    {% set hide_edit, hide_delete = true, true %}
    {% include 'crud/views/others/record_actions.html.twig.twig' %}
{{ "{% endblock %}" }}
{% endblock body %}
